/* general */

body {
	font-family: Arial, Helvetica, Bitstream Vera Sans, Sans, sans-serif;
	font-size: 8pt;
	margin: 0px;
	padding: 0px; }

input, textarea, select {
	font-family: Arial, sans-serif;
	font-size: 8pt; }

h1 {
	padding: 0px;
	margin: 0px;
	font-size: 16pt;
	font-weight: normal; }
	
h2 {
	font-size: 11pt;
	font-weight: bold; }	


/* footer */

div.licence {
	/* width: 900px; */
	border-top-width: 1px;
	border-top-style: dotted;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 20px; }