table.record-editor {
	}

td.record-editor-label,
td.record-editor-field {
	border-top: 1px solid #CCCCCC;
	padding-top: 5px; 
	padding-bottom: 5px; }

td.record-editor-label {
	padding-right: 10px; }

input.record-editor-integer {
	text-align: right;
	width: 60px; }

input.record-editor-float {
	text-align: right;
	width: 100px; }

input.record-editor-date-day {
	margin-right: 5px;
	width: 20px; }

input.record-editor-date-month {
	margin-right: 5px;
	width: 20px; }

input.record-editor-date-year {
	width: 40px; }

input.year {
	width: 40px; }
	
input.voyageid {
	width: 50px; }

input.shipname {
	width: 300px; }

textarea.owners,
textarea.captains {
	width: 300px; }
	
textarea.sources {
	width: 600px; }
	
select.fates {
	width: 600px; }
	
select.locations {
	margin-bottom: 3px;
	width: 400px; }
	
	
table.multiline-attr-table {
}
	
table.multiline-attr-table td {
	border: 0px !important;
	padding: 0px !important;
	white-space: nowrap;
}

table.bubble {
	display: none;
	position: absolute; 
	border: none;}
 
td.bubble-11 {
	width: 32px;
	height: 12px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-11.png); }	
	
td.bubble-11 div {
	width: 12px;
	height: 12px; }
	
td.bubble-12 {
	height: 12px;
	overflow: hidden;
	background-repeat: repeat-x;
	background-image: url(../images/bubble-12.png); }	
	
td.bubble-13 {
	width: 12px;
	height: 12px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-13.png); }	

td.bubble-13 div {
	width: 32px;
	height: 12px; }

td.bubble-21 {
	width: 32px;
	overflow: hidden;
	background-repeat: repeat-y;
	background-image: url(../images/bubble-21.png); }	
	
td.bubble-22 {
	color: White;
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(../images/bubble-22.png); }	
	
td.bubble-23 {
	width: 12px;
	overflow: hidden;
	background-repeat: repeat-y;
	background-image: url(../images/bubble-23.png); }	
	
td.bubble-31 {
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-31.png); }	
	
td.bubble-32 {
	height: 32px;
	overflow: hidden;
	background-repeat: repeat-x;
	background-image: url(../images/bubble-32.png); }	
	
td.bubble-33 {
	width: 12px;
	height: 32px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-33.png); }
	