body, input, textarea, select {
	font-family: Verdana, Arial, Helvetica, Bitstream Vera Sans, sans, sans-serif;
	font-size: 8pt; }
	
body {
	margin: 0px;
	padding: 20px; }
	
/**********************************
* grid
***********************************/

table.grid {
	border-collapse: collapse; }

table.grid td, 
table.grid th {
	text-align: left;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 3px 10px 3px 3px; }

table.grid td {
	cursor: pointer; }

table.grid tr.focused td {
	background-color: #EEEEEE; }

table.grid td.grid-sorted,
table.grid th.grid-sorted {
	background-color: #EEEEEE; }
	
table.grid th.grid-clickable {
	cursor: pointer; }

/**********************************
* pager
***********************************/
	
table.pager {
	border-collapse: collapse; }
	
table.pager td {
	border: 1px solid #CCCCCC;
	padding: 3px 5px 3px 5px; }
	
table.pager td.pager-counter {
	padding-right: 10px; }
	
table.pager td.pager-page,
table.pager td.pager-previous-enabled,
table.pager td.pager-next-enabled {
	cursor: pointer; }

table.pager td.pager-page-current {
	background-color: #CCCCCC;
	cursor: default; }

table.pager td.pager-page:hover,
table.pager td.pager-previous-enabled:hover,
table.pager td.pager-next-enabled:hover {
	background-color: #EEEEEE; }