/**********************************
* tabs
***********************************/	

table.tabs {
	width: 100%; }
	
table.tabs td.tabs-tab-active {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	padding: 3px 10px 3px 10px;
	white-space: nowrap;
	text-align: center;
	width: 1%; }
	
table.tabs td.tabs-tab {
	background-color: #EEEEEE;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 3px 10px 3px 10px;
	white-space: nowrap;
	text-align: center;
	width: 1%; }
	
table.tabs td.tabs-tab a {
	text-decoration: none; }

table.tabs td.tabs-tab-active a {
	color: Black;
	text-decoration: none; }

table.tabs td.tabs-left-offset {
	border-bottom: 1px solid #CCCCCC;
	width: 10px; }
	
table.tabs td.tabs-separator {
	border-bottom: 1px solid #CCCCCC;
	width: 5px; }
	
table.tabs td.tabs-right-extent {
	border-bottom: 1px solid #CCCCCC; }
	
	