table.map-tools {
	top: 10px;
	left: 10px;
	position: absolute; }
	
td.map-tools-separator {
	width: 5px; 
	overflow: hidden; }

td.map-icon-back {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-back.png); }
	
td.map-icon-back-off {
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-position: 0px -48px;
	background-repeat: no-repeat;
	background-image: url(map-icon-back.png); }

td.map-icon-back:hover {
	background-position: 0px -24px; }
	
td.map-icon-forward {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-forward.png); }
	
td.map-icon-forward-off {
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-position: 0px -48px;
	background-repeat: no-repeat;
	background-image: url(map-icon-forward.png); }

td.map-icon-forward:hover {
	background-position: 0px -24px; }

td.map-icon-zoom-plus {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-zoom-plus.png); }
	
td.map-icon-zoom-plus:hover {
	background-position: 0px -24px; }
	
td.map-icon-zoom-minus {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-zoom-minus.png); }
	
td.map-icon-zoom-minus:hover {
	background-position: 0px -24px; }

td.map-icon-zoom {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-zoom.png); }
	
td.map-icon-zoom-off {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 0px -48px;
	background-image: url(map-icon-zoom.png); }

td.map-icon-zoom:hover {
	background-position: 0px -24px; }
	
td.map-icon-zoom-off:hover {
	background-position: 0px -24px; }

td.map-icon-pan {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-pan.png); }
	
td.map-icon-pan-off {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 0px -48px;
	background-image: url(map-icon-pan.png); }
	
td.map-icon-pan:hover {
	background-position: 0px -24px; }
	
td.map-icon-pan-off:hover {
	background-position: 0px -24px; }

td.map-icon-size-0 {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-size-0.png); }
	
td.map-icon-size-0-off {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 0px -48px;
	background-image: url(map-icon-size-0.png); }
	
td.map-icon-size-0:hover {
	background-position: 0px -24px; }
	
td.map-icon-size-0-off:hover {
	background-position: 0px -24px; }		
	
td.map-icon-size-1 {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-size-1.png); }
	
td.map-icon-size-1-off {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 0px -48px;
	background-image: url(map-icon-size-1.png); }
	
td.map-icon-size-1:hover {
	background-position: 0px -24px; }
	
td.map-icon-size-1-off:hover {
	background-position: 0px -24px; }		
	
td.map-icon-size-2 {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-size-2.png); }
	
td.map-icon-size-2-off {
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 0px -48px;
	background-image: url(map-icon-size-2.png); }
	
td.map-icon-size-2:hover {
	background-position: 0px -24px; }
	
td.map-icon-size-2-off:hover {
	background-position: 0px -24px; }		
	
td.map-zoom-slider-bg {
	vertical-align: top;
	width: 80px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-zoom-slider-bg.png); }	
	
div.map-zoom-slider-bg {
	width: 80px;
	height: 24px;
	position: absolute; }
	
div.map-zoom-slider-knob {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	width: 13px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-zoom-slider-knob.png); }	
