/* main two pannels */

td.side-panel {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 5px;
	width: 300px;
	vertical-align: top; }

td.main-panel {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 10px;
	vertical-align: top; }


/* message */

div.message-bar {
	color: White;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #E2873B; 
	border-bottom: 2px solid #F5F0D3; }
	
td.message-bar-button {
	padding-left: 10px; }


/* detail */

table.detail {
	border-collapse: collapse; }
	
table.detail td, table.detail th {
	text-align: left;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #F1E7C8;
	border-right: 2px solid #F1E7C8; }
	
td.detail-label {
	font-weight: bold; }


div.chart-back-button {
	position: absolute; 
	top: 290px; 
	left: 12px; 
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-back.png); 
}

div.chart-back-button:hover {
	background-position: 0px -24px; 
}

div.chart-forward-button {
	position: absolute; 
	top: 290px; 
	left: 623px; 
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-forward.png); }

div.chart-forward-button:hover {
	background-position: 0px -24px; }

table.tooltip-class {
	width: 300px;
	border-collapse: collapse;
}

table.tooltip-class tr {	
	border-bottom: 2px solid #CF5435;
	padding-left: 10px;
	padding-right: 10px;
}

div.detailTab {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

table.legend-table-main {
	padding-left: 10px;
}

table.legend-table-detail {
	border-collapse: collapse;
	padding-left: 5px;
}

td.legend-table-detail-col1 {
	text-align: center;
	padding-top: 5px;
}

td.legend-table-detail-col2 {
	padding-left: 10px;
	text-align: left;
	padding-top: 3px;
}

div.map-legend-div {
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: top;
	
}

input.map-legend-refresh {
	margin-top: 10px;
	margin-left: 10px;
}

table.legend-table-layers {
	padding-left: 10px;
}

