/* main two pannels */

td.side-panel {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 5px;
	width: 300px;
	vertical-align: top; }

td.main-panel {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 10px;
	vertical-align: top; }


/* message */

div.message-bar {
	color: White;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #CF5435; }
	
td.message-bar-button {
	padding-left: 10px; }



div.chart-back-button {
	position: absolute; 
	top: 290px; 
	left: 12px; 
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-back.png); 
}

div.chart-back-button:hover {
	background-position: 0px -24px; 
}

div.chart-forward-button {
	position: absolute; 
	top: 290px; 
	left: 623px; 
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-forward.png); }

div.chart-forward-button:hover {
	background-position: 0px -24px; }

table.tooltip-class {
	width: 300px;
	border-collapse: collapse;
}

table.tooltip-class tr {	
	border-bottom: 2px solid #CF5435;
	padding-left: 10px;
	padding-right: 10px;
}

div.detailTab {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

table.legend-table-main {
	padding-left: 10px;
}

table.legend-table-detail {
	border-collapse: collapse;
	padding-left: 5px;
}

td.legend-table-detail-col1 {
	text-align: center;
	padding-top: 5px;
}

td.legend-table-detail-col2 {
	padding-left: 10px;
	text-align: left;
	padding-top: 3px;
}

div.map-legend-div {
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: top;
	
}

input.map-legend-refresh {
	margin-top: 10px;
	margin-left: 10px;
}

table.legend-table-layers {
	padding-left: 10px;
}


table.simple-table {
	border-collapse: collapse;	
}

td.search-simple-stat-c_c1 {
	border: 1px solid #DEC77E;
	background-color: #F1E7C8;
	padding: 5px;
}
	
td.search-simple-stat-c_c2, td.search-simple-stat-c_c3, td.search-simple-stat-c_c4 {
	border: 1px solid #DEC77E;
	text-align: right;
	padding: 5px;
	padding-left: 30px;
	width: 70px;
}

td.search-simple-stat-h_c1 {
	border: 1px solid #DEC77E;
	text-align: center;
	padding: 5px;
}
	
td.search-simple-stat-h_c2, td.search-simple-stat-h_c3, td.search-simple-stat-h_c4 {
	border: 1px solid #DEC77E;
	background-color: #F1E7C8;
	padding: 5px;
	font-weight: bold;
	text-align: right;
}

table.multiline-attr-table {
}
	
table.multiline-attr-table td {
	padding: 0px !important;
	white-space: nowrap;
}

.timeline-color {
	background: #F1E7C8;
}

table.event-line-legend {
	margin-left: 70px;
	margin-bottom: 15px; }

td.event-line-legend-sample {
	padding-right: 5px; }

td.event-line-legend-sample div {
	border: 1px solid Black;
	overflow: hidden;
	width: 12px;
	height: 12px; }
	
td.event-line-legend-name {
	}

td.event-line-legend-value {
	padding-right: 5px; }
