div.section-title {
	font-weight: bold; }

div.section-title-dark {
	color: White;
	background-color: #571B1D; }

div.section-title-middle {
	color: White;
	background-color: #CA4223; }

div.section-title-light {
	color: White;
	background-color: #E2873B; }

div.section-title-line-dark {
	border-bottom: 2px solid #571B1D; }

div.section-title-line-middle {
	border-bottom: 2px solid #CA4223; }

div.section-title-line-light {
	border-bottom: 2px solid #E2873B; }

table.section-title {
	width: 100%; }

td.section-title-left {
	text-align: left; }

img.section-button {
	cursor: pointer; }

td.section-title-buttons {
	padding-right: 10px;
	text-align: right; }

td.section-button {
	cursor: pointer; }

div.section-title-text {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px; }

td.section-title-tab {
	cursor: pointer;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px; }

td.section-title-tab-light {
	}

td.section-title-tab-light:hover,
td.section-title-tab-light-selected {
	background-color: #E2873B; }

td.section-title-tab-middle {
	}

td.section-title-tab-middle:hover,
td.section-title-tab-middle-selected {
	background-color: #CA4223; }

td.section-title-tab-dark {
	}

td.section-title-tab-dark:hover,
td.section-title-tab-dark-selected {
	background-color: #571B1D; }

div.section-body {
	background-color: White; }

div.sections-sepatator {
	overflow: hidden;
	margin-bottom: 10px; }
	
div.section-inside-title {
	padding-bottom: 5px;
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	border-bottom: 2px solid #F1E7C8; }
	
div.section-inside-group {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 2px solid #F1E7C8; }
		
div.section-inside-footer {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px; }
