<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
	
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>

    <context-param>
        <param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>org.apache.myfaces.PRETTY_HTML</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
        <param-value>false</param-value>
    </context-param>
	
	<filter>
		<filter-name>AjaxAnywhere</filter-name>
		<filter-class>org.ajaxanywhere.AAFilter</filter-class>
	</filter>

    <filter-mapping>
        <filter-name>AjaxAnywhere</filter-name>
        <url-pattern>*.faces</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

<!--  

	<servlet>
		<servlet-name>listing</servlet-name>
		<servlet-class>edu.emory.library.tas.web.test.ListingServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>detail</servlet-name>
		<servlet-class>edu.emory.library.tas.web.test.DetailServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>searchform</servlet-name>
		<servlet-class>edu.emory.library.tas.web.test.SearchFormServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>searchresults</servlet-name>
		<servlet-class>edu.emory.library.tas.web.test.SearchResultsServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>edu.emory.library.tas.web.upload.UploadServlet</servlet-class>
	</servlet>
-->
	<servlet>
		<servlet-name>ImportServlet</servlet-name>
		<servlet-class>edu.emory.library.tas.spss.ImportServlet</servlet-class>
    </servlet>
	
	<servlet>
		<servlet-name>JSON-RPC</servlet-name>
		<servlet-class>com.metaparadigm.jsonrpc.JSONRPCServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ImageFeederServlet</servlet-name>
		<servlet-class>edu.emory.library.tas.web.components.tabs.ImageFeederServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MapFeederServlet</servlet-name>
		<servlet-class>edu.emory.library.tas.web.components.tabs.MapFeederServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TileServlet</servlet-name>
		<servlet-class>edu.emory.library.tas.web.maps.TileServlet</servlet-class>
	</servlet>
	
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>edu.emory.library.tas.web.TestServlet</servlet-class>
    </servlet>

<!-- 
	<servlet-mapping>
		<servlet-name>listing</servlet-name>
		<url-pattern>/listing</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>detail</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>searchform</servlet-name>
		<url-pattern>/searchform</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>searchresults</servlet-name>
		<url-pattern>/searchresults</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
-->
 
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
		<servlet-name>JSON-RPC</servlet-name>
		<url-pattern>/JSON-RPC</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ImportServlet</servlet-name>
		<url-pattern>/servlet/ImportServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ImageFeederServlet</servlet-name>
		<url-pattern>/servlet/ImageFeederServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>MapFeederServlet</servlet-name>
		<url-pattern>/servlet/MapFeederServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TileServlet</servlet-name>
		<url-pattern>/servlet/maptile</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/servlet/test</url-pattern>
	</servlet-mapping>

</web-app>