<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <property name="connection.url">jdbc:postgresql://wilson.library.emory.edu/tast</property>
        
        <property name="connection.username">tast</property>
        <property name="connection.password">tast</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Enable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.cache.use_query_cache">false</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <!-- statistics -->
        <property name="hibernate.generate_statistics">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <!--property name="hbm2ddl.auto">create</property-->

		<mapping resource="edu/emory/library/tast/dm/Configuration.hbm.xml"/>

        <mapping resource="edu/emory/library/tast/dm/Voyage.hbm.xml"/>
        <mapping resource="edu/emory/library/tast/dm/VoyageIndex.hbm.xml"/>
        
		<mapping resource="edu/emory/library/tast/dm/Nation.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/Area.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/Region.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/Port.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/OtherDictionaries.hbm.xml"/>
		
		<mapping resource="edu/emory/library/tast/dm/Image.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/ImageCategory.hbm.xml"/>

		<mapping resource="edu/emory/library/tast/dm/Estimate.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/EstimatesExportRegion.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/EstimatesImportArea.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/EstimatesImportRegion.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/EstimatesNation.hbm.xml"/>

		<mapping resource="edu/emory/library/tast/dm/Slave.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/Country.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/SexAge.hbm.xml"/>
		
		<mapping resource="edu/emory/library/tast/dm/Submission.hbm.xml"/>
		<mapping resource="edu/emory/library/tast/dm/Revision.hbm.xml"/>

		<mapping resource="edu/emory/library/tast/dm/SourceInformation.hbm.xml"/>

		<mapping resource="edu/emory/library/tast/dm/GlossaryTerm.hbm.xml"/>

    </session-factory>

</hibernate-configuration>
