body {
	background-position: 0px 60px;
	background-image: url(../images/about-bg.png);
	background-repeat: repeat-x; }

div#content {
	padding-top: 10px; }

table#about-layout {
	}
	
td#about-left-column {
	vertical-align: top; }

td#about-left-column table.simple-box td.simple-box-22 {
	width: 180px; }

td#about-right-column {
	vertical-align: top; }

td#about-right-column table.simple-box td.simple-box-22 {
	width: 680px; }

h1 {
	padding: 0px;
	margin: 0px 0px 10px 0px; }

p {
	line-height: 140%; }

div.left-menu-box {
	padding-left: 10px;
	padding-right: 10px; }
	
div.left-menu-box a {
	display: block;
	color: Black;
	text-decoration: none; }

div.left-menu-box a:hover {
	background-color: #EFF0F0; }

div.secondary-menu-item-0 a {
	background-image: url(../images/secondary-menu-symbol-0.png);
	background-repeat: no-repeat;
	background-position: 2px 4px;
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #E3EAF4; }
	
div.secondary-menu-item-1 a {
	background-image: url(../images/secondary-menu-symbol-1.png);
	background-repeat: no-repeat;
	background-position: 16px 4px;
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px solid #E3EAF4; }

div.left-menu-title {
	border-bottom: 1px solid Black;
	padding-bottom: 4px; }

td.simple-box-11 {
	background-image: url(../images/about-simple-box-11.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-11 div {
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-12 {
	background-image: url(../images/about-simple-box-12.png);
	background-repeat: repeat-x;
	background-color: White;
	height: 6px;
	overflow: hidden; }

td.simple-box-12 div {
	height: 6px;
	overflow: hidden; }

td.simple-box-13 {
	background-image: url(../images/about-simple-box-13.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-12 div {
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-21 {
	background-image: url(../images/about-simple-box-21.png);
	background-repeat: repeat-y;
	width: 6px;
	overflow: hidden; }

td.simple-box-31 div {
	width: 6px;
	overflow: hidden; }

td.simple-box-32 {
	background-color: White; }

td.simple-box-22 {
	padding: 4px;
	background-color: White; }
	
td#left-column td.simple-box-22 {
	width: 180px; }
	
td#main-content td.simple-box-22 {
	width: 670px; }

td.simple-box-23 {
	background-image: url(../images/about-simple-box-23.png);
	background-repeat: repeat-y;
	width: 6px;
	overflow: hidden; }

td.simple-box-23 div {
	width: 6px;
	overflow: hidden; }

td.simple-box-31 {
	background-image: url(../images/about-simple-box-31.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-31 div {
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-32 {
	background-image: url(../images/about-simple-box-32.png);
	background-repeat: repeat-x;
	background-color: White;
	height: 6px;
	overflow: hidden; }

td.simple-box-32 div {
	height: 6px;
	overflow: hidden; }

td.simple-box-33 {
	background-image: url(../images/about-simple-box-33.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-32 div {
	width: 6px;
	height: 6px;
	overflow: hidden; }
