table.essays-layout {
	margin-top: 10px;
	margin-left: 10px; }

table.essays-layout td {
	vertical-align: top; }
	
td#essays-left-column {
	padding-right: 10px;
	width: 300px; }

td#essays-right-column {
	width: 580px; }
	
td#essays-right-column table.simple-box {
	width: 100%; }

p {
	line-height: 160%; }
	
div.left-menu-title {
	border-bottom: 1px solid Black;
	padding-bottom: 4px; }	
	
div.left-menu-box a {
	display: block;
	color: Black;
	text-decoration: none; }

div.left-menu-box a:hover {
	background-color: #E0F5F5; }

div.secondary-menu-item-0 a {
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #B8E7E8; }
	
div.secondary-menu-item-1 a {
	background-image: url(../images/secondary-menu-symbol-0.png);
	background-repeat: no-repeat;
	background-position: 2px 4px;
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #B8E7E8; }
	
div.secondary-menu-item-2 a {
	color: #05768A;
	background-image: url(../images/secondary-menu-symbol-1.png);
	background-repeat: no-repeat;
	background-position: 17px 4px;
	padding-left: 35px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-bottom: 1px dotted #B8E7E8; }
	
div.essay-info {
	xborder-top: 1px solid Black; 
	border-bottom: 1px solid Black;
	padding-bottom: 10px; }
	
div.essay-info span.essay-author {
	font-weight: bold; }	

div.essay-info span.essay-date {
	font-style: italic; }	

/* essays landing page */

ul.essays-list {
	padding: 0px 0px 0px 20px;
	margin: 10px 0px 0px 0px; }

ul.essays-list li {
	padding: 0px 0px 0px 0px;
	margin: 0px; }

ul.essays-list div.essay-title {
	font-weight: bold; }
	
ul.essays-list div.essay-info {
	border-style: none;
	border-width: 0px;
	margin: 0px;
	padding: 0px 0px 10px 0px; }

ul.essays-list span.essay-author {
	font-weight: normal;
	font-style: italic; }
	
ul.essays-list span.essay-date {
	font-style: normal; }	
	