td.simple-box-11 {
	background-image: url(../images/assessment-simple-box-11.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-11 div {
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-12 {
	background-image: url(../images/assessment-simple-box-12.png);
	background-repeat: repeat-x;
	background-color: White;
	height: 6px;
	overflow: hidden; }

td.simple-box-12 div {
	height: 6px;
	overflow: hidden; }

td.simple-box-13 {
	background-image: url(../images/assessment-simple-box-13.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-12 div {
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-21 {
	background-image: url(../images/assessment-simple-box-21.png);
	background-repeat: repeat-y;
	width: 6px;
	overflow: hidden; }

td.simple-box-31 div {
	width: 6px;
	overflow: hidden; }

td.simple-box-32 {
	background-color: White; }

td.simple-box-22 {
	padding: 4px;
	background-color: White; }
	
td#left-column td.simple-box-22 {
	width: 180px; }
	
td#main-content td.simple-box-22 {
	width: 670px; }

td.simple-box-23 {
	background-image: url(../images/assessment-simple-box-23.png);
	background-repeat: repeat-y;
	width: 6px;
	overflow: hidden; }

td.simple-box-23 div {
	width: 6px;
	overflow: hidden; }

td.simple-box-31 {
	background-image: url(../images/assessment-simple-box-31.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-31 div {
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-32 {
	background-image: url(../images/assessment-simple-box-32.png);
	background-repeat: repeat-x;
	background-color: White;
	height: 6px;
	overflow: hidden; }

td.simple-box-32 div {
	height: 6px;
	overflow: hidden; }

td.simple-box-33 {
	background-image: url(../images/assessment-simple-box-33.png);
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	overflow: hidden; }

td.simple-box-32 div {
	width: 6px;
	height: 6px;
	overflow: hidden; }
