body {
	background-position: 0px 60px;
	background-image: url(../images/database-bg.png);
	background-repeat: repeat-x; }

div#content {
	padding-top: 15px; }

h1 {
	margin-left: 20px;
	padding-top: 0px;
	margin-bottom: 0px; }	

div.left-menu-title {
	font-weight: bold; }
	
ul.left-menu {
	list-style: none;
	margin: 0px;
	padding: 0px; }
	
ul.left-menu li {
	margin: 5px 0px 0px 0px;
	border-top: 0px dotted #BF9B41;
	padding: 5px 0px 0px 0px; }
	
ul.left-menu a {
	text-decoration: none; }

td.left-column {
	padding-left: 10px;
	padding-right: 10px;
	width: 130px;
	border-right: 1px solid #BF9B41; }