table.box-main-table td {
	border-color: #8A5D04; }
		
td.box-upper-row-left {
	background-image: url(../images/database-box-expanded-title-left.png); }
	
td.box-upper-row-left-collapsed {
	background-image: url(../images/database-box-collapsed-title-left.png); }

td.box-upper-row-middle,
td.box-upper-row-middle-collapsed {
	width: 270px;
	background-image: url(../images/database-box-title-center.png); }

td.box-upper-row-right {
	background-image: url(../images/database-box-expanded-title-right.png); }

td.box-upper-row-right-collapsed {
	background-image: url(../images/database-box-collapsed-title-right.png); }
	
td.box-middle-row-left {
	background-image: url(../images/database-box-content-center.png); }
	
td.box-middle-row-middle {
	background-image: url(../images/database-box-content-center.png); }
	
td.box-middle-row-right {
	background-image: url(../images/database-box-content-center.png); }

td.box-lower-row-left {
	background-image: url(../images/database-box-bottom-left.png); }
		
td.box-lower-row-middle {
	 }
	
td.box-lower-row-right {
	background-image: url(../images/database-box-bottom-right.png); }

div.box-button-collapsed {
	background-image: url(../images/database-box-plus.png); }

div.box-button {
	background-image: url(../images/database-box-minus.png); }