div#content {
	border-top: 1px solid #895D03; }

a {
	color: #8A5D04; }
	
a:hover {
	color: Black; }
	
div.left-menu-title {
	font-weight: bold; }
	
ul.left-menu {
	list-style: none;
	margin: 0px;
	padding: 0px; }
	
ul.left-menu li {
	margin: 5px 0px 0px 0px;
	border-top: 0px dotted #BF9B41;
	padding: 5px 0px 0px 0px; }
	
ul.left-menu a {
	text-decoration: none; }
