/* main pannels */

table.search-main-table {
	width: 100%;
	border-top: 5px solid #895D03; }
	
td.search-side-panel {
	background-image: url(../images/database-bg.png);
	background-position: top left;
	background-repeat: repeat-x;
	border-right: 1px solid #895D03;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 300px;
	vertical-align: top; }

td.search-main-panel {
	vertical-align: top; }
	
h1 {
	margin-bottom: 10px; }

h1.with-subtitle {
	margin-bottom: 0px; }
	
div.subtitle {
	margin-bottom: 5px;
	font-weight: bold; }
 
td.search-side-panel table.box-main-table {
	margin-bottom: 10px; }

td.search-side-panel td.box-upper-row-middle,
td.search-side-panel td.box-upper-row-middle-collapsed,
td.search-side-panel td.box-middle-row-middle,
td.search-side-panel td.box-lower-row-middle {
	width: 270px; }
	
div.search-panel {
	padding: 10px; }

/* message */

div.message-bar {
	color: White;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #CF5435; }
	
td.message-bar-button {
	padding-left: 10px; }



div.chart-back-button {
	position: absolute; 
	top: 290px; 
	left: 12px; 
	cursor: pointer;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(map-icon-back.png); 
}

div.chart-back-button:hover {
	background-position: 0px -24px; 
}

div.detailTab {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

table.legend-table-main {
	padding-left: 10px;
}

table.legend-table-detail {
	border-collapse: collapse;
	padding-left: 5px;
}

td.legend-table-detail-col1 {
	text-align: center;
	padding-top: 5px;
}

td.legend-table-detail-col2 {
	padding-left: 10px;
	text-align: left;
	padding-top: 3px;
}

div.map-legend-div {
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: top;
	
}

input.map-legend-refresh {
	margin-top: 10px;
	margin-left: 10px;
}

table.legend-table-layers {
	padding-left: 10px;
}