table.simple-table {
	border-collapse: collapse; }

td.sources-country,
td.sources-country-first {
	font-weight: bold;
	font-size: 12pt;
	border-bottom: 1px solid Black;
	padding-bottom: 5px; }
	
td.sources-country {
	padding-top: 15px; }
	
td.sources-city-first,
td.sources-city {
	vertical-align: top;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	font-weight: bold; }
	
td.sources-city {
	border-top: 1px solid #DDCA9D; }	

td.source-id-odd,
td.source-id-even,
td.source-id-first,
td.source-id-first {
	vertical-align: top;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold; }

td.source-name-odd, 
td.source-name-even, 
td.source-name-first, 
td.source-name-first {
	vertical-align: top;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px; }
	
td.source-id-first,
td.source-name-first {
	border-bottom: 1px solid #DDCA9D;
	background-color: #FFF8CE; }

td.source-id-even,
td.source-name-even {
	border-top: 1px solid #DDCA9D;
	border-bottom: 1px solid #DDCA9D;
	background-color: #FFF8CE; }
	