ul#further-reading {
	margin: 0px 0px 15px 0px;
	padding: 0px; }
	
ul#further-reading li {
	margin: 0px 0px 0px 25px;
	padding: 0px;
	line-height: 140%; }

ul#further-reading span.title {
	font-style: italic; }
