div#sitemap {
	margin-top: 20px; }
	
div#sitemap ul {
	padding: 0px;
	margin: 0px;
	list-style: none; }
	
div#sitemap ul li {
	font-size: 11pt;
	font-weight: bold;
	margin: 0px 0px 0px 20px;
	padding: 0px; }
	
div#sitemap ul li a:hover {
	text-decoration: underline; }

div#sitemap ul li a {
	text-decoration: none;
	color: Black; }

div#sitemap ul ul {
	padding: 0px;
	margin: 5px 0px 10px 10px; 
	list-style: disc; }

div#sitemap ul ul li {
	line-height: 140%;
	color: Black;
	font-size: 8pt;
	font-weight: normal;
	margin: 0px 0px 0px 40px;
	padding: 0px; }
	
div#sitemap ul ul li a {
	text-decoration: none;
	color: #008CA5; }

td.sitemap-col-1, 
td.sitemap-col-2,
td.sitemap-col-3 {
	vertical-align: top; }
	
td.sitemap-col-2,
td.sitemap-col-3 {
	padding-left: 30px; }