/* main index */

body {
/*	height: 768px;*/
	background-color: #C0E0EA;
	background-image: url(../new-images/background.png); 
	background-repeat: repeat-x;
 }


td.index-middle-left{
	vertical-align: top; 
	width: 500 px;
	padding-right: 20px;
}



td.index-middle-right{
	vertical-align: top; 
	padding-left:20px;
}

td.index-middle-right div.index-title{
	background-image: url(../new-images/index-title.png);
	margin-left:10px;
	margin-top:5px;
}

td.index-middle-right div.index-intro{
	background-image: url(../new-images/index-intro.png);
}

div.index-middle {
/*	height: 300px;
	background-color: #A4C7C5;
	background-image: url(../images/index-middle-bg.png); 
	background-repeat: repeat-x; */
}
	
div.index-middle-img {
/*	height: 300px;
	background-image: url(../images/index-middle-img.png); 
	background-repeat: no-repeat; */
	}
	
div.index-bottom {

	margin-left: 660px;
	width: 430px;
	background-image: url(../images/index-blue-gradient.png); 
	background-repeat: repeat-x; }
	
/* highlights */

div.index-highlight {
	margin: 15px 0px 10px 20px;
	background-repeat: no-repeat;
	background-image: url(../images/index-icon.png); }
	
div.index-highlight-title {
	padding-bottom: 5px;
	padding-left: 75px; }

div.index-highlight-title a {
	font-size: 12pt;
	color: #008CA5; }

div.index-highlight-text {
	padding-right: 10px;
	padding-left: 75px; }

/* welcome map */

td.index-middle-left table.welcome-map {
/*
	padding-top: 20px;
	padding-left: 116px; 
	*/
}
	
td.index-middle-left div.welcome-map {
/*	vertical-align: top; */

 }

td.index-middle-left div.welcome-map-text {	
	background-image: url(../new-images/index-maptext-bg.png);
	background-repeat: repeat-x;
	margin-left: 116px;	
	margin-top: -15px;
	width: 378px;
	height:291px;
}
	
td.welcome-map-top-left {
/*	background-image: url(../images/welcome-map-top-left.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 10px;
	height: 10px; */
}
	
td.welcome-map-top-middle {
/*	background-image: url(../images/welcome-map-top-middle.png);
	background-repeat: no-repeat;
	overflow: hidden;
	height: 10px; */
}
	
td.welcome-map-top-right {
/*	background-image: url(../images/welcome-map-top-right.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 10px;
	height: 10px; */
}
	
td.welcome-map-middle-left {
/*	background-image: url(../images/welcome-map-middle-left.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 10px; */
}
	
td.index-middle-left td.welcome-map-image {
	padding-left:115px;
	padding-top: 20px;
/*	vertical-align: top; */
}
	
td.welcome-map-middle-right {
/*	background-image: url(../images/welcome-map-middle-right.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 10px; */
}

td.welcome-map-bottom-left {
/*	background-image: url(../images/welcome-map-bottom-left.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 10px;
	height: 10px; */
}
	
td.welcome-map-bottom-middle {
/*	background-image: url(../images/welcome-map-bottom-middle.png);
	background-repeat: no-repeat;
	overflow: hidden;
	height: 10px; */
}
	
td.welcome-map-bottom-right {
/*	background-image: url(../images/welcome-map-bottom-right.png);
	background-repeat: no-repeat;
	overflow: hidden;
	width: 10px;
	height: 10px; */
}
	
img.welcome-map-place {
	cursor: pointer; }
	
div.welcome-main-text {


	font-size: 8pt;
	line-height: 130%;
	padding-top: 15px;
	margin-top: 5px; 
}
	
div.welcome-place-title {


	font-size: 8pt;
	font-weight: bold;
	padding-top: 15px;
	margin-top: 5px;
	line-height: 130%; 
}

div.welcome-place-text {
	font-size: 8pt;
	line-height: 130%; 
}

