/* general */

body {
	font-family: Arial, Helvetica, Bitstream Vera Sans, Sans, sans-serif;
	font-size: 8pt;
	margin: 0px;
	padding: 0px; }

input, textarea, select {
	font-family: Arial, sans-serif;
	font-size: 8pt; }

h1 {
	padding: 0px;
	margin: 0px;
	font-size: 16pt;
	font-weight: normal; }

/* footer */

div.footer {
	border-top: 1px solid #CCCCCC;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px; }
	
div.footer td {
	vertical-align: top;
	padding-right: 20px; } 
	
a.footer-link {
	color: #888888;
	text-decoration: none; }
	
a.footer-link:hover {
	color: #333333; }

div.footer-section {
	/* border-bottom: 1px dotted #CCCCCC; 
	padding-bottom: 5px; */
	margin-bottom: 5px; } 
