table.top-bar {
	border-collapse: collapse;
	width: 100%; }

td.top-bar-logo {
	padding: 0px;
	background-color: #008CA5;
	height: 50px; }

td.top-bar-menu {
	padding: 0px;
	background-color: #008CA5;
	height: 50px;
	vertical-align: bottom; }

div.top-bar-menu {
	color: White; }

div.top-bar-menu table {
	margin-left: auto; }

div.top-bar-menu td.tabs-tab-first-filler {
	}
	
div.top-bar-menu td.tabs-tab-left {
	}

div.top-bar-menu td.tabs-tab-middle {
	}
	
div.top-bar-menu td.tabs-tab-right {
	}
	
div.top-bar-menu td.tabs-tab-left-selected {
	}

div.top-bar-menu td.tabs-tab-middle-selected {
	font-weight: bold; }
	
div.top-bar-menu td.tabs-tab-right-selected {
	}
	