div.top-bar {
	background-color: #008CA8;
	background-image: url(../images/main-menu/menu-bg.png);
	background-repeat: no-repeat; }
	
table.top-bar {
	border-collapse: collapse; }
	
td.top-bar-logo {
	padding: 0px; }

td.top-bar-menu {
	padding: 0px; }

td.top-bar-logo img {
	border-style: none; }
	
/* menu */

td.main-menu-section {
	padding-right: 5px; }

div.main-menu-box {
	z-index: 99;
	position: absolute; }
	
td.main-menu-box-top-left {
	width: 8px;
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/box-top-left.png);
	background-repeat: no-repeat; }
	
td.main-menu-box-top {
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/box-top.png);
	background-repeat: repeat-x; }

td.main-menu-box-top-right {
	height: 8px;
	width: 8px;
	overflow: none;
	background-image: url(../images/main-menu/box-top-right.png);
	background-repeat: no-repeat; }
	
td.main-menu-box-left {
	width: 8px;
	overflow: none;
	background-image: url(../images/main-menu/box-left.png);
	background-repeat: repeat-y; }

td.main-menu-box-center {
	background-color: #005B6F;
	padding-bottom: 0px; }

div.main-menu-box-link {
	}

div.main-menu-box-link a {
	padding-left: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	display: block;
	text-decoration: none;
	color: White; }

div.main-menu-box-link a:hover {
	color: #C0E0EA;
	text-decoration: underline;
	/* background-color: #008CA8; */ }

td.main-menu-box-right {
	width: 8px;
	overflow: none;
	background-image: url(../images/main-menu/box-right.png);
	background-repeat: repeat-y; }

td.main-menu-box-bottom-left {
	width: 8px;
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/box-bottom-left.png);
	background-repeat: no-repeat; }
	
td.main-menu-box-bottom {
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/box-bottom.png);
	background-repeat: repeat-x; }

td.main-menu-box-bottom-right {
	height: 8px;
	width: 8px;
	overflow: none;
	background-image: url(../images/main-menu/box-bottom-right.png);
	background-repeat: no-repeat; }	

div.assessment td.main-menu-box-top div {
	width: 170px;
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/assessment-box-top.png);
	background-repeat: no-repeat; }	

div.database td.main-menu-box-top div {
	width: 100px;
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/database-box-top.png);
	background-repeat: no-repeat; }	

div.resources td.main-menu-box-top div {
	width: 85px;
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/resources-box-top.png);
	background-repeat: no-repeat; }	

div.lessons td.main-menu-box-top div {
	width: 155px;
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/lessons-box-top.png);
	background-repeat: no-repeat; }	
	
div.about td.main-menu-box-top div {
	width: 130px;
	height: 8px;
	overflow: none;
	background-image: url(../images/main-menu/about-box-top.png);
	background-repeat: no-repeat; }
	
/* secondary bar */

div.secondary-bar {
	background-color: #05768A;
	color: White;
	padding: 4px 0px 4px 10px; }
	
div.secondary-bar a {
	text-decoration: none;
	color: White; }
		
div.secondary-bar a:hover {
	text-decoration: underline;
	color: #C0E0EA; }

table.secondary-bar {
	width: 900px; }
	
td.secondary-bar-breadcrumb a {
	}
	
table.secondary-bar-help-links {
	margin-left: auto;
	margin-right: 0px; }
	

td.secondary-bar-help-link {
	padding-left: 10px; }
	
td.breadcrumb-separator {
	padding-left: 5px;
	padding-right: 5px; }

