div.menu-popup-item-main {
	cursor: pointer;
	width: 285px;
	border: 0px solid Black;
	border-bottom: 2px solid #F1E7C8;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: 280px center;
	background-image: url(icon-arrow-right.png); }

div.menu-popup-item-main:hover {
	background-color: #F1E7C8;
	/*
	-background-color: #571B1D;
	-color: White; */}

div.menu-popup-submenu-frame {
	z-index: 1;	
	top: -7px;
	left: 290px;
	position: relative;
	display: none; }

div.menu-popup-submenu {
	position: absolute;
	border: 1px solid #571B1D; }

div.menu-popup-submenu-item {
	white-space: nowrap;
	color: Black !important;
	cursor: pointer;
	background-color: White;
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; }	
			
div.menu-popup-submenu-item:hover {
	background-color: #CA4223;
	color: White !important; }
	
div.menu-slider-item-main-collapsed {
	cursor: pointer;
	border-bottom: 2px solid #F1E7C8;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url(icon-arrow-right.png); }	

div.menu-slider-item-main-expanded {
	cursor: pointer;
	border-bottom: 2px solid #F1E7C8;
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-image: url(icon-arrow-down.png); }	

div.menu-slider-item-main-collapsed:hover {
	background-color: #F1E7C8; }

div.menu-slider-item-main-expanded:hover {
	background-color: #F1E7C8; }

div.menu-slider-submenu {
	border-bottom: 2px solid #F1E7C8; }
		
div.menu-slider-submenu-item {
	cursor: pointer;
	padding-top: 2px; 
	padding-bottom: 2px; 
	padding-left: 25px; }

div.menu-slider-submenu-item:hover {
	color: White;
	background-color: #CA4223; }
	
span.attribute-selected {
	font-weight: normal;
	color: #E2873B; }