td.td-main-panel {
	vertical-align: top; 
	background-image: url(../images/resources-bg.png);
	padding: 10px; }
	
td.td-side-panel {
	width: 280px; 
	vertical-align: top;
	border-right: 1px solid #165B31; }
	
td.slaves-query-variable-title {
	padding: 0px 5px 0px 0px;
	font-weight: bold; }

td.slaves-query-variable-controls {
	}
