td.td-main-panel {
	vertical-align: top; 
	background-image: none;
	padding: 10px; }
	
td.td-side-panel {
	background-image: url(../images/resources-bg.png);
	background-repeat: repeat-x;
	width: 280px; 
	vertical-align: top;
	border-right: 1px solid #165B31; }
	
td.slaves-query-variable-title {
	width: 80px;
	font-weight: normal; }

td.slaves-query-variable-controls {
	}

td.slaves-query-spacer {
	height: 3px; }

td.lookup-checkbox-list-item-1,
td.lookup-checkbox-list-item-2 {
	white-space: nowrap; }

div.slaves-query-section {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #B4D6CD; }

td.box-upper-row-middle {
	width: 250px; }

td.box-upper-row-middle-collapsed {
	width: 250px; }
	
td.lookup-checkbox-list-quicksearch {
	margin-bottom: 5px; }

td.lookup-checkbox-list-quicksearch-label {
	width: 80px; }
	
td.lookup-checkbox-list-quicksearch-input input {
	width: 100px; }
	
div.lookup-checkbox-list {
	border: 1px solid #B4D6CD;
	/* background-color: #DCEFE7; */
	margin-top: 5px;
	padding: 3px;
	width: 220px;
	height: 200px;
	overflow: scroll; }

table.lookup-checkbox-list-buttons {
	margin-top: 5px; }
	
table.lookup-checkbox-list-buttons td {
	padding-right: 5px; }
	
div.lookup-checkbox-list-item-collapsed {
	background-image: url(../images/resources-icon-arrow-right.png);
	background-repeat: no-repeat;
	width: 11px;
	height: 11px; }

div.lookup-checkbox-list-item-expanded {
	background-image: url(../images/resources-icon-arrow-down.png);
	background-repeat: no-repeat;
	width: 11px;
	height: 11px; }