body {
	background-position: 0px 60px;
	background-image: url(../images/resources-bg.png);
	background-repeat: repeat-x; }

div.images-nav-path {
	margin-bottom: 2px; }

/* images homepage */

div.images-category {
	width: 660px;
	border-collapse: collapse;
	border-bottom: 1px dotted #165B31;
	margin-bottom: 10px; }

div.images-category-name {
	font-size: 14pt; }

div.images-category-link {
	margin-top: -3px; }

div.images-category-link a {
	text-decoration: none; } 

div.images-category-sample {
	margin-bottom: 20px; }

td.td-main-panel {
	vertical-align: top; 
	padding: 10px;}
	
td.td-side-panel {
	width: 280px; 
	vertical-align: top;
	border-right: 1px solid #165B31;}

div.images-category-sample td.gallery-image,
div.images-category-sample td.gallery-image-selected,
div.images-gallery-query td.gallery-image,
div.images-gallery-query td.gallery-image-selected {
	vertical-align: top;
	width: 160px; }
	
div.images-category-sample div.gallery-image,
div.images-gallery-query div.gallery-image {
	margin-left: auto;
	margin-right: auto;
	width: 100px; }

div.images-category-sample div.gallery-image img,
div.images-gallery-query div.gallery-image img {
	cursor: pointer;
	border: 1px solid #165B31; }

div.images-category-sample div.gallery-image-text,
div.images-gallery-query div.gallery-image-text {
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px; }

div.images-category-sample div.gallery-image-label,
div.images-gallery-query div.gallery-image-label {
	margin-top: 3px;
	text-align: center; }

div.images-category-sample div.gallery-image-description,
div.images-gallery-query div.gallery-image-description {
	text-align: center; }

/* left column */

div.images-query-box {
	border-bottom: 1px solid #B4D6CD;
	margin-bottom: 10px;
	padding-bottom: 10px; }

div.images-query-search-button {
	}
	
span.images-count {
	color: #BBBBBB; }
	
/* query */

div.images-query-title {
	border-bottom: 1px dotted #165B31; 
	font-size: 14pt;
	padding-bottom: 0px;
	margin-bottom: 10px; }
	
/* detail */	
	
div.images-gallery-detail {
	margin-bottom: 5px; }

div.images-gallery-detail td.gallery-image-selected div.gallery-image {
	background-repeat: no-repeat;
	background-position: center 80px;
	background-image: url(../images/resources-icon-arrow-up.png);
	padding-bottom: 8px;
	margin-right: 5px; }

div.images-gallery-detail div.gallery-image {
	padding-bottom: 8px;
	margin-right: 5px; }

div.images-gallery-detail td.gallery-image div.gallery-image img,
div.images-gallery-detail td.gallery-image-selected div.gallery-image img {
	cursor: pointer;
	border: 1px solid #165B31; }

a.link-images {
	}
	
img.image-detail {
	cursor: pointer;
	border: 1px solid #165B31; }
	
div.image-title {
	font-size: 14pt;
	margin-bottom: 10px; }
	
div.image-description {
	margin-top: 0px; }

table.image-detail-info {
	margin-top: 15px;
	border-collapse: collapse; }
	
table.image-detail-info td {
	vertical-align: top;
	border-top: 1px solid #165B31;
	border-bottom: 1px solid #165B31;
	padding: 5px 0px 5px 0px; }

div.image-detail-info-label {
	margin-right: 10px; 
	font-style: italic; }
	
div.image-detail-voyages-title {
	margin-top: 20px;
	font-weight: bold;
	margin-bottom: 5px; }

table.image-detail-voyages {
	border-collapse: collapse; }
	
table.image-detail-voyages td {
	border-top: 1px solid #165B31;
	border-bottom: 1px solid #165B31;
	padding: 5px 0px 5px 0px; }

div.images-query {
	border-bottom: 1px solid #165B31;
	margin-bottom: 15px; }
	
div.images-query a {
	text-decoration: none; }

table.image-navigation {
	margin-top: 5px;
	margin-bottom: 5px; }
	
table.image-navigation a {
	border: 1px solid #165B31;
	background-color: #DEEFE8;
	color: Black;
	text-decoration: none;
	display: block;
	padding: 2px 5px 2px 5px; }
	
table.image-navigation a:hover {
	background-color: White; }
	
div.query-summary-item {
	border-bottom: 1px solid #B4D6CD;
	padding-bottom: 5px;
	margin-bottom: 5px; }
	
div.query-summary-item-last {
	}
	
span.query-summary-variable {
	font-weight: bold; }
	
	
input.button-save {	
	border:1px solid; 
	text-decoration:none; 
	background-color: white; 
	border-color: #165B31; 
	background-color: white;}

input.button-save:hover {	
	background-color: #B4D6CD;}
	
	
div.grid-tooltip {
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 2; 
    font: normal 8pt sans-serif; 
    
}



table.bubble {
	display: none;
	position: absolute; }
 
td.bubble-11 {
	width: 12px;
	height: 12px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-11.png); }	
	
td.bubble-11 div {
	width: 12px;
	height: 12px; }
	
td.bubble-12 {
	height: 12px;
	overflow: hidden;
	background-repeat: repeat-x;
	background-image: url(../images/bubble-12.png); }	
	
td.bubble-13 {
	width: 32px;
	height: 12px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-13.png); }	

td.bubble-13 div {
	width: 32px;
	height: 12px; }

td.bubble-21 {
	width: 12px;
	overflow: hidden;
	background-repeat: repeat-y;
	background-image: url(../images/bubble-21.png); }	
	
td.bubble-22 {
	color: White;
	width: 250px;
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(../images/bubble-22.png); }	
	
td.bubble-23 {
	width: 32px;
	overflow: hidden;
	background-repeat: repeat-y;
	background-image: url(../images/bubble-23.png); }	
	
td.bubble-33 {
	width: 12px;
	height: 32px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-33.png); }	
	
td.bubble-32 {
	height: 32px;
	overflow: hidden;
	background-repeat: repeat-x;
	background-image: url(../images/bubble-32.png); }	
	
td.bubble-31 {
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../images/bubble-31.png); }
