div#content {
	margin-top: 10px;
	margin-left: 250px;
	width: 640px; }

h2 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 15px; }

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 130%;
	margin-left: 15px; }

ul {
	line-height: 130%; }
	
ul li {
	}
