table.grid-editor {
	border-collapse: collapse;
}

table.grid-editor td,table.grid-editor th {
	padding: 3px 5px 3px 5px;
	border: 1px solid #CCCCCC;
}

table.grid-editor th {
	text-align: left;
	background-color: #EEEEEE;
}

table.grid-editor-list td {
	padding: 0px;
	border-style: none;
	border-width: 0px;
}

input.grid-editor-name,input.grid-editor-phone {
	width: 100px;
}

textarea.grid-editor-desc {
	width: 200px;
}

textarea.grid-editor-desc {
	width: 200px;
}

input.record-gridEditor-date-day,input.record-gridEditor-date-month {
	width: 20px;
}

input.record-gridEditor-date-year {
	width: 40px;
}

th.grid-editor-row-group {
	font-size: 12pt;
	background-color: #DDDDDD !important;
	cursor: pointer; }
	
span.grid-editor-edit-note-button,
span.grid-editor-copy-button {
	cursor: pointer;
	color: #2288BB; }

span.grid-editor-edit-note-button:hover,
span.grid-editor-copy-button:hover {
		background-color: #2288BB;
	color: White; }
