table.detail {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-collapse: collapse; 
}
/*	
table.detail td, table.detail th {
	text-align: left;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #F1E7C8;
	border-right: 2px solid #F1E7C8; }
*/
td.detail-label {
	border: 1px solid #DEC77E;
	background-color: #F1E7C8;
	padding: 5px;
	font-weight: bold;
	text-align: left;
}

td.detail-data {
	border: 1px solid #DEC77E;
	text-align: left;
	padding: 5px;
}

div.detail-title {
	margin: 10px 0px 0px 10px;
	font-weight: bold;
	font-size: 12pt; }
	
div.detail-link-back {
	margin: 0px 0px 10px 10px; }
